* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

body > section {
    position: relative;
    top: 50%;
    transform: translateY( -70% );
    float: left;
}

aside {
    display: inline-block;
    width: 50%;
    float: left;
    transform: translateY( -10% );
    margin-left: 0.5rem;
}

aside img {
    width: 80%;
    height: auto;
    border-radius: 5%;
    margin-left: 2rem;
}

main {
    display: inline-block;
    width: 49%;
    float: left;
    color:#471c9c;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: auto;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: 1rem;
    color: grey;
    font-weight: 400;
}



@media (max-width: 768px) {

  body > section {
    margin-top: 1.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1rem;
  }

  aside {
    display:block;
    width: 70%;
    margin-left: 0;
  }

  aside img {
    width: 60%;
    height: auto;
    margin-left: 0;
  }

  main {
    display: block;
    width: 70%;
  }

  form input {
    width: 70%;
    border-style: none;
    background-color: white;
    font-size: 1.5rem;
  }

  form input:focus {
    border-style: solid;
    border-color: #FFAE19;
    outline-style:none;
  }

  #userSubmit {
    margin: 1rem;
    float: left;
    width: 70%;
  }

}
  